doctype
html
  //Head
  head
    block head
      != partial("_partials/head")
  body.row
    block body
      != yield
    block footer
      #footer
        p All Khan Academy content is available for free at 
          a(href='http://www.khanacademy.org/') www.khanacademy.org .
        p This collection was created August 2013.
