extends ../_layout

block head
  //= You have to re-add any core css you want because absolute paths don't work yet
  != partial("../_partials/head")
  <meta test="pleasework">

block body
  if current.source == index
    !=partial("../_partials/khanindex")
  else
    !=partial("../_partials/khanvideo")
