head
  title= title
  meta(name="description" content="#{ description }")
  //Grid
  link(rel="stylesheet" href="/assets/css/grid.css")
  link(rel="stylesheet" href="/assets/css/core.css")

  //Videojs
  link(rel="stylesheet" href="/assets/videojs/video-js.min.css")
  script(type='text/javascript', src='/assets/videojs/video.js')
  script(type='text/javascript').
      videojs.options.flash.swf="/assets/videojs/video-js.swf";

  //Quick css fix- will remove when I actually style
  style.
    #footer{
      text-align: center;
    }
