//- Just trying out an experiment in logic. 
//- Basically, it would let you define your section layout 
//- and optional individual page layouts as   "layout": "path/yourlayout", in the section's data.json file
//- Issues are that 1) the logic is ugly atm and more importantly
//- 2) partials can't have variables in them.
//- I'll think about it and if it's worth keeping later I'll give this path it's own branch

- var val = public[current.path.slice(0,1)]._data
if (current.path.length > 2)
  for obj in val.content
    each page in obj.pages
      if page.slug === current.source
        if page.layout
          // page specfic layout found
          != partial( page.layout )
        else 
          // section layout found
          != partial( val.layout )
else
  if (current.path.length > 1) && (current.source === 'index')
    if val.layout
      // section layout found for index
      != partial( val.layout )
    else
      // no layout found
      != yield
  else
    // toplevel
    != yield


