- var datadir = public[current.path.slice(0,1)]._data.content
for obj in datadir
  for page, i in obj.pages
    if page.slug == current.source
      - prev = obj.pages[i - 1]
      - next = obj.pages[i + 1]
      .subnav-pagination
        if prev
          a.subnav-pagination-item(href="#{ prev.slug }.html") ← Previous Video
        if next
          a.subnav-pagination-item(href="#{ next.slug }.html") Next Video →
