- var datadir = public[current.path.slice(0,1)]._data.children
for obj in datadir
  for page, i in obj.children
    if page.slug === current.source
      - prev = obj.children[i - 1]
      - next = obj.children[i + 1]
      .subnav-pagination
        if prev
          a.subnav-pagination-item(href="#{ prev.slug }.html") ← Previous Video
        if next
          a.subnav-pagination-item(href="#{ next.slug }.html") Next Video →
