!= partial("../_partials/video", { title: "Simple Differential Equations", desc: "3 basic differential equations that can be solved by taking the antiderivatives of both sides.", media: "C8mudsCSmcU" })
